@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html,
body,
#root {
  min-height: 100vh;
  position: relative;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "sans-serif";
}

@layer components {
  .shaders-yellow {
    box-shadow: 8px -8px 29px 10px rgba(255, 195, 35, 0.12),
      -19px 17px 27px 13px rgba(255, 61, 110, 0.12);
  }
}
