@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100vh;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.bg-brand-linear {
  background: linear-gradient(
    246.44deg,
    #4a0acb 4.25%,
    #c91cc3 162.88%,
    #c81cc5 162.9%,
    #8023d6 162.9%
  );
}

.btn {
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  padding: 9px 30px;
  border: 1px solid transparent;
}

.btn-primary {
  background-image: linear-gradient(
    246.44deg,
    #4a0acb 4.25%,
    #c91cc3 162.88%,
    #c81cc5 162.9%,
    #8023d6 162.9%
  );
  transition: all 200ms linear;
}

.btn:hover {
  transform: scale(1.03);
}

.btn-secondary {
  border: 1px solid;
  border-image-source: linear-gradient(
    246.44deg,
    #4a0acb 4.25%,
    #c91cc3 162.88%,
    #c81cc5 162.9%,
    #8023d6 162.9%
  );

  color: #4a0acb;
}
